.table-ws-gql {
    display: grid;
    max-width: 100%;
    overflow-x: auto;
    margin-bottom: 20px;

    &.logs {
        grid-template-columns: auto auto 1fr;
        grid-auto-rows: max-content;
        background: white;
    
        & > .d-contents > .d-contents > :is(div, pre)  {
            padding: 4px;
            vertical-align: middle;
        }
    }
}

.gql-tabs {
    overflow: hidden;
    background-color: #f2f2f2;
    padding-top: 10px;
}

.gql-tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 15px;
    font-weight: bold;
  }

.gql-tabs button:hover {
    background-color: #ddd;
}

.gql-tabs button.active {
    background-color: #ccc;
}

.ws-connected {
    margin-right: 8px;
    color: #128930;
}

.blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

.ws-notifications {
    position: absolute;
    top: -7px;
    right: -7px;
    padding: 5px 10px;
    border-radius: 50%;
    background: #ff5c5c;
    color: white;
    font-size: 12px;
  }